body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
}

.hidden {
  opacity: 0;
}