.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.app-icon {
  width: 48px;
  height: 48px;
}

.test {
  font-family: "Courier New", Courier, monospace;
}
